@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css hoặc file CSS toàn cục khác */
.no-select-parent,
.no-select-parent * { /* Áp dụng cho chính nó và tất cả các phần tử con */
  -webkit-user-select: none !important; /* Safari */
  -moz-user-select: none !important;    /* Firefox */
  -ms-user-select: none !important;     /* IE 10+ */
  user-select: none !important;         /* Standard syntax */
}
